<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="courseWork_project.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <courseWork_project.Properties.Settings>
      <setting name="testTitlesDirectory" serializeAs="String">
        <value>test_titles_folder</value>
      </setting>
      <setting name="testTitlesFilename" serializeAs="String">
        <value>test_titles_file.txt</value>
      </setting>
      <setting name="testResultsDirectory" serializeAs="String">
        <value>test_results_folder</value>
      </setting>
      <setting name="imagesDirectory" serializeAs="String">
        <value>images</value>
      </setting>
      <setting name="questionsLimit" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="variantsLimit" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="dataSeparator" serializeAs="String">
        <value>₴</value>
      </setting>
    </courseWork_project.Properties.Settings>
  </applicationSettings>
</configuration>