<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="testTitlesDirPath" value="test_titles_folder"/>
		<add key="testTitlesFilePath" value="test_titles_file"/>
		<add key="testResultsDirPath" value="test_results_folder"/>
		<add key="imagesDirPath" value="images"/>
		<add key="defaultImageSource" value="images/default-image.png"/>
	</appSettings>
</configuration>